$main-color-one: #25c481;
$main-color-two:  #25b7c4;
$primary-color-border: #ffffff4d;

$total-white: #ffffff;
$total-black: #000000;

$webkit-color-box-shadow: #223c5033;

$cell-color-border: #ffffff1a;